.left-section {
  width: 16%;
}
.sidebar {
  min-height: calc(100vh - 80px);
}

.left-section {
  width: 16%;
}

.sidebar {
  min-height: calc(100vh - 80px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar-item {
  height: 42px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  gap: 12px;

  text-decoration: none;
  color: #56548a;
  font-size: 13px;
  font-weight: 500;

  border-radius: 7px;
  transition: 0.2s;
}

.sidebar-item:hover {
  background-color: var(--primary-soft);
  color: var(--main-color);
}

.sidebar-item.active {
  background-color: var(--primary-soft);
  color: var(--main-color);
}

.menu-badge {
  margin-left: auto;
  min-width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-soft);
  color: var(--main-color);
  border-radius: 50%;
  font-size: 10px;
}

.theme-toggle-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid var(--border-light);
  background-color: var(--bg-white);
  color: var(--text-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
}

.theme-toggle-btn:hover {
  background-color: var(--primary-soft);
}
/* end sidebar */